p= @user.email
p= @user.login
p= @user.fullname
p= @user.birthday
p= @user.address
p= @user.city
p= @user.state
p= @user.country
p= @user.zip
p= @user.role

= render 'shared/map', latitude: @user.latitude, longitude: @user.longitude

- if current_user&.admin? || current_user&.id == @user.id
  p= link_to 'Edit User', edit_user_path(@user)

- if current_user&.admin?
  p= link_to 'Delete User', user_path(@user), method: :delete
